.pageContainer {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.verticalContainer {
  width: 100%;
  aspect-ratio: 6;
  max-height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media (max-width: 576px) {
  .verticalContainer {
    aspect-ratio: unset;
    padding: 1.5rem 0;
  }
}

.animationContainer {
  position: relative;
  flex: 1;
  overflow: hidden
}

.animatedContent {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
}

.contentContainer {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: start;
  flex: 1;
}

.contentCentered {
  justify-content: center;
}

@media (max-width: 576px) {
  .bottomContainer {
    display: none;
  }
}
