.locationPin {
  position: absolute;
  z-index: 100;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.ringContainer {
  position: relative;
  height: 61px;
  width: 61px;
}
.ringContainer .circle {
  width: 15px;
  height: 15px;
  background-color: #94a8d0;
  border-radius: 50%;
  position: absolute;
  top: 23px;
  left: 23px;
}
@keyframes pulsate {
  0% {
    -webkit-transform: scale(0.1, 0.1);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1.2, 1.2);
    opacity: 0;
  }
}
.ringContainer .ring {
  border: 3px solid #94a8d0;
  border-radius: 30px;
  height: 25px;
  width: 25px;
  position: absolute;
  left: 15px;
  top: 15px;
  animation: pulsate 1s ease-out;
  animation-iteration-count: infinite;
  opacity: 0;
  box-sizing: content-box;
}
