# Compiled JavaScript files
lib/**/*.js
lib/**/*.js.map

# TypeScript v1 declaration files
typings/

# Node.js dependency directory
node_modules/

app.yaml
.env
.env.prod
*/keys/*.ts
*/keys/*.ogg

.DS_Store

.cloudflared/