# For if you want to run on Google App Engine

runtime: nodejs
env: flex

runtime_config:
  operating_system: "ubuntu22"
  runtime_version: "20"

resources:
  cpu: 4
  memory_gb: 4

manual_scaling:
  instances: 1

env_variables:
  NODE_ENV: production
  SPEECH_KEY: "XXX"
  OPENAI_KEY: "XXX"
  GROQ_KEY: "XXX"
  HOLOGRAM_KEY: XXX
  GOOGLE_KEY: XXX
  OPEN_WEATHER_KEY: XXX
  BING_KEY: XXX
  FINNHUB_KEY: XXX
  WOLFRAM_KEY: XXX
